.footer.page-footer {
  margin: 0;
  position: static;
  width: 100%;
  background: none;
  top: auto;
  bottom: auto;
  box-shadow: none;
  padding: 0;

  a,
  a:hover {
    text-decoration: none;
  }

  .icons-container {
    text-align: left;
    white-space: normal;


    a {
      font-weight: 300;
      margin: 0 .5rem;
    }

    a:first-child { margin: 0 .5rem 0 0; }
    a:last-child { margin: 0 0 0 .5rem; }
  }
}

@include media-breakpoint-down(xs) {
  .footer.page-footer {
    .icons-container {
      @include align-items(flex-start);
      @include display-flex();
      @include flex-direction(row);
      @include flex-pack(start);
      @include flex-wrap(wrap);
      @include justify-content(flex-start);

      a {
        font-size: .8rem;
        margin: 0 .5rem 0 0;
        font-size: .75rem;
      }

      a:last-child { margin: 0; }
      .bull { display: none; }
    }
  }
}
