main {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #3F51B5;
  padding: 0 5rem;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@include media-breakpoint-down(sm) {
  main { padding: 0 1rem; }
}
