$aquamarine:    #2196F3;
$black-opc-016: rgba(0, 0, 0, .16);
$black-opc-012: rgba(0, 0, 0, .12);
$black-russian: #00041b;
$cod-gray:      #101010;
$curious-blue:  #2a82e1;
$dark-whole:    #080808;
$dodger-blue:   #2196f3;
$ebony-clay:    #212438;
$san-marino:    #3f51b5;
$san-noon:      #3f51b5;
$white:         #fff;
